@use 'sass/abstracts/index' as *;
@use 'sass/components/header';
@use 'sass/components/main';
@use 'sass/components/footer';

body {
	background-color: $background-color;
	font-family: "Open Sans", sans-serif;
	color: $whitish;
	min-height: 100vh;
}
