* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eee;
	padding: 20px;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}

	.links {
		display: flex;
		justify-content: space-between;
		width: 40%;

		a {
			text-decoration: none;
			color: #000;
			transition: all 0.3s linear;
			border-radius: 5px;
			padding: 5px;

			&:hover {
				color: #fff;
				background-color: #000;
			}
		}
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;

	& > div {
		display: none;
	}
}

.show {
	display: block;
}

.hide {
	display: none;
}
