<div class="contacto__container">
  <div class="contacto">
    <button
      (click)="toggleForm()"
      [ngClass]="mostrarForm ? 'color-blue' : 'color-red'"
    >
      {{ mostrarForm ? "Ocultar Formulario" : "Mostrar Formulario" }}
    </button>
    <form *ngIf="mostrarForm">
      <fieldset>
        <label class="color-blue" for="name">Nombre</label>
        <br />
        <input type="text" id="name" />
        <br />
        <br />
        <!-- <button>Enviar</button> -->
        <h3>{{ name }}</h3>
      </fieldset>
    </form>
  </div>
</div>
