.contacto {
  &__container {
    background-color: #ddd;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  flex-wrap: wrap;
}

form {
  fieldset {
    padding: 20px;
  }
}

button {
  font-size: 30px;
  padding: 20px 30px;
}

.color-blue {
  background-color: #fff;
  color: #000;
}

.color-red {
  color: #fff;
  background-color: #000;
}
