@use '../abstracts/index' as *;

// Main

.oculto {
	opacity: 0;
}

.mostrar {
	animation: aparecer forwards 3000ms;
}

@keyframes aparecer {
	0% {
		opacity: 0;
		transform: translate(500px, 500px);
	}

	100% {
		opacity: 100%;
		transform: translate(0, 0);
	}
}

.main {
	margin-top: 50px;
	min-height: 100vh /* calc(100vh - 220px) */;

	&_content {
		max-width: 1200px;
		margin: 0 auto;

		&_subtitle {
			color: $primary-color;
			text-align: center;
			font-size: 50px;
			font-weight: 800;
			margin-bottom: 50px;
		}

		&_paragraph {
			columns: 2;
			font-size: 20px;
			text-align: justify;
			column-gap: 50px;
		}
	}
}
