<h2>Formulario Reactivo con Angular</h2>
<!-- {{ registerForm | json }} -->
<form [formGroup]="registerForm">
  <div>
    <div class="invalid-text" *ngIf="username!.invalid && username!.touched">
      <small *ngIf="username!.errors?.required">El campo es requerido</small>
      <small *ngIf="username!.errors?.minlength">Minimo 6 caracteres</small
      ><small *ngIf="username!.errors?.maxlength">Maximo 10 caracteres</small>
      <small *ngIf="username!.errors?.pattern"
        >El campo solo puede contener letras</small
      >
    </div>
    <label for="username">Nombre de usuario *</label>
    <br />
    <input
      [class.invalid-border]="username!.invalid && username!.touched"
      id="username"
      type="text"
      formControlName="username"
    />
  </div>

  <div>
    <div *ngIf="email!.invalid && email!.touched">
      <small class="invalid-text">El campo es requerido</small>
    </div>
    <label for="email">Correo electronico *</label>
    <br />
    <input id="email" type="email" formControlName="email" />
  </div>

  <div>
    <div *ngIf="password!.invalid && password!.touched">
      <small class="invalid-text">El campo es requerido</small>
    </div>
    <label for="password">Contraseña *</label>
    <br />
    <input id="password" type="password" formControlName="password" />
  </div>

  <div>
    <div *ngIf="confirmPassword!.invalid && confirmPassword!.touched">
      <small class="invalid-text">El campo es requerido</small>
    </div>
    <label for="confirmPassword">Confirmar contraseña *</label>
    <br />
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
    />
  </div>

  <div formGroupName="address">
    <div>
      <label for="city">Ciudad</label>
      <br />
      <input id="city" type="text" formControlName="city" />
    </div>

    <div>
      <label for="province">Provincia</label>
      <br />
      <input id="province" type="text" formControlName="province" />
    </div>

    <div>
      <label for="zipCode">Codigo Postal</label>
      <br />
      <input id="zipCode" type="text" formControlName="zipCode" />
    </div>
  </div>
  <button (click)="mostrarDatos()" [disabled]="registerForm.invalid">
    Submit
  </button>
</form>
