<div>
  <h1>PokeApi v2</h1>
  <main>
    <form>
      <div>
        <label for="pokemonName">Nombre o ID del Pokemon</label>
        <br />
        <input type="text" id="pokemonName" [formControl]="pokemonName" />
      </div>
      <button type="button" (click)="fetchPokemonData(pokemonName.value)">
        Buscar
      </button>
    </form>
    <br />
    <div>
      <h2>Datos del Pokemon</h2>
      <h4>
        Nombre:
        {{ pokemonData.name ? capitalizeString(pokemonData.name) : "-" }}
      </h4>
      <h4>
        Altura: {{ pokemonData.height ? pokemonData.height * 10 + "cm" : "-" }}
      </h4>
      <h4>
        Peso: {{ pokemonData.weight ? pokemonData.weight / 10 + "kg" : "-" }}
      </h4>
      <h4>Tipos: {{ pokemonTypes ? pokemonTypes.join(" - ") : "-" }}</h4>
      <!-- <h4 *ngFor="let type of pokemonData.types">
        Tipos: {{ type.type.name ? type.type.name : "-" }}
      </h4> -->
      <img width="100px" src="{{ pokemonImg }}" alt="" />
    </div>
  </main>
</div>
