<p>
  <mat-toolbar class="toolbar">
    <span>header</span>
    <div>
      <button mat-raised-button color="accent" routerLink="/home">Home</button>
      <button mat-raised-button color="accent" routerLink="/contacto">
        Contacto
      </button>
      <button mat-button [matMenuTriggerFor]="menu">Servicios</button>
      <mat-menu #menu="matMenu">
        <button routerLink="/servicios/principales" mat-menu-item>
          Principales
        </button>
        <button routerLink="/servicios/secundarios" mat-menu-item>
          Secundarios
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
<app-footer></app-footer>
