.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 7.4rem);
  background-image: url("../../../assets/img/hero_moon.jpg");
  background-position: -50rem 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  margin-left: 10rem;
}
.hero__content--title {
  font-size: 7rem;
}
.hero__content--description {
  font-size: 2.2rem;
}

.testimoniales__container {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

.testimoniales {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10rem;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.testimoniales__subtitulo {
  font-size: 5rem;
}
.testimoniales .testimonio {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 2rem 0;
  border-radius: 1rem;
}
.testimoniales .testimonio:hover {
  transform: scale(1.05);
  background-color: rgba(45, 48, 71, 0.5);
}
.testimoniales .testimonio__mensaje {
  text-align: justify;
  padding: 0 3rem;
}

.info {
  padding: 10rem 0;
  display: flex;
  gap: 5rem;
}
.info__container {
  background-color: #eee;
  color: #111;
}
.info__left--img {
  background-image: url("../../../assets/img/info_moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  height: 40rem;
  border-radius: 10rem 0 10rem 0;
}
.info__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__right--text {
  width: 80%;
  font-size: 2rem;
  line-height: 2;
  color: #2d3047;
}

.go-top {
  position: fixed;
  bottom: 7.5rem;
  right: 5rem;
  width: 7.5rem;
  height: 7.5rem;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ed217c;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.go-top p {
  color: #eee;
  font-size: 2rem;
  text-align: center;
}
.go-top:hover {
  background-color: rgba(237, 33, 124, 0.5);
  transform: scale(0.95);
  cursor: pointer;
}

.header__container {
  background-color: #2d3047;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__logo {
  transition: all 0.3s ease-in-out;
}
.header__logo:hover {
  color: #ff9b71;
}
.header__nav {
  display: flex;
  gap: 4rem;
}
.header__nav--link {
  transition: all 0.3s ease-in-out;
}
.header__nav--link:hover {
  color: #ed217c;
}

.footer__container {
  background-color: #2d3047;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
  width: 100%;
}
.footer__info {
  width: 70%;
}
.footer__info--title {
  margin-bottom: 2rem;
  text-align: center;
}
.footer__info--text {
  text-align: justify;
}
.footer__links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #1b2021;
  color: #eee;
}

a {
  color: #eee;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6,
p {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.accent {
  color: #ed217c;
}

.effect1 {
  transform: translate(-100%, 50%);
  transition: all 0.75s ease-in-out;
}

.effect2 {
  transform: translate(0, 0);
}