@use 'partials/componentes/index';
@use 'partials/variables/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: $background-color;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6,
p {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.accent {
  color: $accent-color;
}

.effect1 {
  transform: translate(-100%, 50%);
  transition: all 0.75s ease-in-out;
}

.effect2 {
  transform: translate(0, 0);
}
