@use '../variables/variables' as *;

// -------------HERO

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 7.4rem);

  background-image: url("../../../assets/img/hero_moon.jpg");
  background-position: -50rem 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    max-width: 40%;
    flex-direction: column;
    margin-left: 10rem;

    &--title {
      font-size: 7rem;
    }

    &--description {
      font-size: 2.2rem;
    }
  }
}

// ---------------TESTIMONIALES

.testimoniales__container {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

.testimoniales {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10rem;
  column-gap: 5%;

  &__subtitulo {
    font-size: 5rem;
  }

  .testimonio {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 2rem 0;
    border-radius: 1rem;

    &:hover {
      transform: scale(1.05);
      background-color: rgba($background-color-2, 0.5);
    }

    &__mensaje {
      text-align: justify;
      padding: 0 3rem;
    }
  }
}

// -------------INFO

.info {
  &__container {
    background-color: $white;
    color: $black;
  }

  padding: 10rem 0;

  display: flex;
  gap: 5rem;

  //   &__left,
  //   &__right {
  //     flex-basis: 50%;
  //   }

  &__left {
    &--img {
      background-image: url("../../../assets/img/info_moon.jpg");
      //   background-position: -20rem 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50rem;
      height: 40rem;
      border-radius: 10rem 0 10rem 0;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      width: 80%;
      font-size: 2rem;
      line-height: 2;
      color: $background-color-2;
    }
  }
}

// -------------GO TOP

.go-top {
  position: fixed;
  bottom: 7.5rem;
  right: 5rem;
  width: 7.5rem;
  height: 7.5rem;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.2s linear;

  p {
    color: $white;
    font-size: 2rem;
    text-align: center;
  }

  &:hover {
    background-color: rgba($accent-color, 0.5);

    transform: scale(0.95);
    cursor: pointer;
  }
}
